body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.map-wrapper {
    position: relative;
}

.map-point {
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
    cursor: pointer;
}
